<div class="container">

    <div class="row">
        <div class="well">
            <p>
                En primer lugar, se debe elegir una característica. En este trabajo
                la característica determina el tipo de proveedor con el que estamos
                trabajando.
            </p>

            <p>
                Una vez elegida la característica, se deben seleccionar los elementos.
                Se puede seleccionar uno de cada tipo, posteriormente seteando el valor
                de cada uno. En este caso, solo contamos con elementos de tipo fecha y
                booleanos. En caso de haber cometido un error al seleccionar el elemento,
                se puede elimiar dicho elemento presionando el botón
                <span class="glyphicon glyphicon-remove"></span>, a la derecha
                del mismo.
            </p>

            <p>
                Posteriormente, se debe hacer click en el botón
                <button class="btn btn-xs btn-info">Evaluar situación</button>
                . Si los elementos y características seleccionados caen en algun marco,
                obtendremos una corrección.
            </p>
        </div>
    </div>

    <div class="row">
        <f-select title="Característica"
                  model="model.elements.characteristic"
                  options="model.characteristics">
        </f-select>
    </div>

    <div class="row" ng-show="model.elements.characteristic.length > 0">
        <f-input-selector model="model.elements"></f-input-selector>
    </div>

    <div class="row">
        <button class="btn btn-info" ng-click="handlers.submit()">Evaluar situación</button>
    </div>

    <br/>

    <div class="row" ng-show="model.correction.length > 0">
        <div class="well">
            {{model.correction}}
        </div>
    </div>

</div>