<div class="container">

    <div class="row">
        <div class="well">
            Explanation
        </div>
    </div>

    <div class="row">
        <f-select title="Característica" model="model.characteristic" options="model.characteristics"></f-select>
    </div>

    <div class="row">
        <f-input-selector model="model.elements"></f-input-selector>
    </div>

    <div class="row">
        <button class="btn btn-success" ng-click="handlers.submit()">Submit Elements</button>
    </div>

    <br/>

    <div class="row" ng-show="model.correction.length > 0">
        <div class="well">
            {{model.correction}}
        </div>
    </div>

</div>