<div class="container">

    <f-evaluate-example title="Example 1" result="model.example1.result" elements="model.example1.elements"></f-evaluate-example>
    <f-evaluate-example title="Example 2" result="model.example2.result" elements="model.example2.elements"></f-evaluate-example>
    <f-evaluate-example title="Example 3" result="model.example3.result" elements="model.example3.elements"></f-evaluate-example>
    <f-evaluate-example title="Example 4" result="model.example4.result" elements="model.example4.elements"></f-evaluate-example>

</div>