<div class="jumbotron">

    <p class="lead">
        <img src="images/fiuba-logo.png" alt="FIUBA">
    </p>

    <h2>Sistemas Automáticos de Diagnóstico y Detección de Fallas I</h2>

    <h3>Trabajo Práctico Final</h3>

    <p>
    <ul class="list-group">
        <li class="list-group-item">Matías Álvarez <em><a href="mailto:gonchu.b@gmail.com">email</a></em></li>
        <li class="list-group-item">Gonzalo Beviglia <em><a href="mailto:gonchu.b@gmail.com">email</a></em></li>
        <li class="list-group-item">Juan Marchese <em><a href="mailto:gonchu.b@gmail.com">email</a></em></li>
    </ul>
    <a class="btn btn-lg btn-success" ng-href="#">
        Ir a la entrega <span class="glyphicon glyphicon-ok"></span>
    </a>
    </p>
</div>
